<h1>New Expense</h1>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <%= form_for @expense, :method => 'post', :class => "form-inline form-group-lg text-center" do %>
        <%= submit_tag("Guardar", :class => "btn btn-primary") %>
    <% end %>
  </div><!-- /.col-lg-6 -->

</div><!-- /.row -->